<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            My education came from DeVry University with a BS in Gaming and Simulation Programming. This experience forcused on understanding real-time rendering and really helped me grasp the concepts of optimized coding practices.

My motivation comes from my desire to never stop learning. Every day I dabble in topics from cars to cooking to technology to finance. Everyday is an opportunity to imrpove your own self-worth. Having more knowledge gives you the ability to help others along the way which makes you feel good.
        </p>
    </div>
</div> <!-- / section -->
